---
// Word of warning: this component is full of bodges.

import { Graph } from 'starlight-site-graph/components'
import { Tabs, TabItem, Code } from '@astrojs/starlight/components';

interface Props {
	slug: string;
	config: object;
	baseConfig: object;
	sitemap: object;
	id: string;
	buttons?: Record<string, {
		class: string;
		config: object;
	}>;
	sliders?: Record<string, {
		title: string;
		val: number;
		min: number;
		max: number;
		step: number;
		type?: "percentage";
	}>;
	dropdowns?: Record<string, Record<string, object>>;
	dropdownMergeOrder?: string[];
	configListener?: boolean;
	fullWidth: boolean;
}
const { baseConfig, config, sitemap, slug, id, buttons, sliders, dropdowns, dropdownMergeOrder, configListener, fullWidth } = Astro.props;


export function isObject(item: unknown) {
	return (item && typeof item === 'object' && !Array.isArray(item));
}

export function mergeDeep(target: any, source: any) {
	let output = Object.assign({}, target);
	if (isObject(target) && isObject(source)) {
		Object.keys(source).forEach(key => {
			if (isObject(source[key])) {
				if (!(key in target))
					Object.assign(output, { [key]: source[key] });
				else
					output[key] = mergeDeep(target[key], source[key]);
			} else {
				Object.assign(output, { [key]: source[key] });
			}
		});
	}
	return output;
}

export function getNestedValue(obj: any, key: string) {
	return key.split('.').reduce((acc, key) => acc[key], obj);
}

const fullConfig = mergeDeep(baseConfig, config);

---

<div id={id} class="graph-example" >
	<div class={(fullWidth ? "items-full-width " : "") + "place-aside" }>
		<Graph
			debug={false}
			config={fullConfig}
			sitemap={sitemap}
			slug={slug}
		/>

		<Tabs>
			<TabItem label="Config" icon="setting">
				<Code code={JSON.stringify(config, null, 2)} lang="json"/>
			</TabItem>
			<TabItem label="Sitemap" icon="seti:graphql">
				<Code code={JSON.stringify(sitemap, null, 2)} lang="json"/>
			</TabItem>
			<TabItem label="Full Config" icon="seti:json">
				<Code code={JSON.stringify(fullConfig, null, 2)} lang="json"/>
			</TabItem>
		</Tabs>

		<div class="user-config">
			{Object.keys(buttons ?? {}).length !== 0 &&
				<div class="flex-row unselectable">
					{Object.entries(buttons!).map(([key, { class: className }]) => (
						<div class={className}>
							<button>{key}</button>
						</div>
					))}
				</div>
			}

			{Object.keys(sliders ?? {}).length !== 0 &&
				<div class="flex-column unselectable">
					{Object.entries(sliders!).map(([key, value]) => (
						// Slight trick: slider is hidden if initial value is nullish (to only show shapePoints slider if shape is polygon/star)
				<div style=`display: ${ getNestedValue(config, key) ? 'unset' : 'none' }`>
							<span class="slider-title"> { value.title } </span>
							<input data-key={key} type="range" min={value.min} max={value.max} step={value.step} value={value.val} />
							<span class="slider-value"> { value.val + (value.type === "percentage" ? "%" : "") } </span>
						</div>
					))}
				</div>
			}

			{Object.keys(dropdowns ?? {}).length !== 0 &&
				<div class="flex-column unselectable">
					{Object.entries(dropdowns!).map(([key, value]) => (
						<div>
							<span class="dropdown-title">{key}</span>
							<select data-key={key}>
								{Object.entries(value).map(([k, v], idx) => (
									(
										// @ts-expect-error Prevent bloatage from excessive typeage
										config[key] ? <option selected={JSON.stringify(v[key]) === JSON.stringify(config[key]) || v[key].selected} value={JSON.stringify(v)}>{k}</option>
													: <option selected={idx === 0} value={JSON.stringify(v)}>{k}</option>
									)
								))}
							</select>
						</div>
					))}
				</div>
			}
		</div>
	</div>


</div>

<script define:vars={{ id, buttons, sliders, dropdowns, dropdownMergeOrder, configListener }}>
	const isObject = i => i && typeof i == 'object' && !Array.isArray(i);
	const mergeDeep = (t, s) => (isObject(t) && isObject(s)) ? Object.keys(s).reduce((o, k) => (o[k] = isObject(s[k]) ? mergeDeep(t[k]||{}, s[k]) : s[k], o), {...t}) : t;
	const getPrimitives = (o, p = '') => Object.entries(o).flatMap(([k,v]) => typeof v === 'object' ? getPrimitives(v, p + k + '.') : [[p + k, v]]);
	const getNestedKey = (o, k) => k.split('.').reduce((a, c) => a[c], o);
	const transformNestedKeys = o => Object.keys(o).reduce((r, k) => {
		k.split('.').reduce((a, b, i, arr) => a[b] || (a[b] = i === arr.length - 1 ? o[k] : {}), r);
		return r;
	}, {});

	// Bodgy way to update the config (without importing remark code generation here)
	const updateTabText = (tab, partialConfig) => {
		const code = document.querySelectorAll(`#${id} starlight-tabs code`)[tab];
		const lines = code.querySelectorAll('.ec-line');
		for (const [key, value] of getPrimitives(partialConfig)) {
			const keys = key.split('.');
			let currentKey = keys.shift();
			let previousIndent = 0;
			for (const line of lines) {
				const indentEl = line.querySelector('.indent');
				if (indentEl) {
					const indent = indentEl.innerText.length;
					const span = indentEl.nextElementSibling;
					if (`"${currentKey}"` === span.innerText && indent > previousIndent) {
						if (keys.length === 0) {
							if (value === 'undefined') {
								span.parentElement.style.display = 'none';
								return;
							} else {
								span.parentElement.style.display = 'inline';
							}

							let i = span.parentElement.childNodes.length - 1;
							if (span.parentElement.childNodes[i].textContent === ',') i -= 1;
							if (typeof value === 'string') i -= 1;
							span.parentElement.childNodes[i].textContent = value;
							break;
						}
						else {
							currentKey = keys.shift();
							previousIndent = indent;
						}
					}
				}
			}
		}
	};

	if (id) {
		const graph = document.querySelector(`#${id} graph-component`);
		const buttonEls = document.querySelectorAll(`#${id} button`);
		const sliderEls = document.querySelectorAll(`#${id} input`);
		const dropdownEls = document.querySelectorAll(`#${id} select`);

		if (configListener) {
			const observer = new MutationObserver(() => {
				const config = JSON.parse(graph.getAttribute('data-config'));
				updateTabText(0, config);
				updateTabText(2, config);
			});
			observer.observe(graph, { attributes: true });
		}

		buttonEls.forEach(button => {
			button.addEventListener('click', () => {
				const config = JSON.parse(graph.getAttribute('data-config'));
				const newConfig = buttons[button.textContent].config;

				graph.setAttribute('data-config', JSON.stringify(mergeDeep(config, newConfig)));
				updateTabText(0, newConfig);
				updateTabText(2, newConfig);
				sliderEls.forEach(slider => {
					const key = slider.getAttribute('data-key');
					const value = getNestedKey(newConfig, key);
					if (value === 'undefined') {
						slider.parentElement.style.display = 'none';
					} else if (value !== undefined) {
						slider.value = value;
						slider.nextElementSibling.textContent = value;
						slider.parentElement.style.display = 'unset';
					}
				});
			});
		});

		sliderEls.forEach(slider => {
			slider.addEventListener('input', () => {
				const config = JSON.parse(graph.getAttribute('data-config'));
				const configKey = slider.getAttribute('data-key');
				const newConfig = configKey.split('.').reverse().reduce((acc, key) => ({ [key]: acc }),
					sliders[configKey].type === "percentage" ? slider.value + "%" : Number(slider.value)
				);
				graph.setAttribute('data-config', JSON.stringify(mergeDeep(config, newConfig)));
				updateTabText(0, newConfig);
				updateTabText(2, newConfig);
				slider.nextElementSibling.textContent = sliders[configKey].type === "percentage" ? slider.value + "%" : slider.value;
			});
		});

		dropdownEls.forEach(dropdown => {
			dropdown.addEventListener('change', () => {
				const config = JSON.parse(graph.getAttribute('data-config'));
				let newConfig = transformNestedKeys(JSON.parse(dropdown.value));
				if (dropdownMergeOrder) {
					const curr_key = dropdown.getAttribute('data-key');
					const currentIndex = dropdownMergeOrder.indexOf(curr_key);
					const dropdownElements = Array.from(dropdownEls);
					let previousConfig = currentIndex ? config[dropdownMergeOrder[currentIndex - 1]] : {};
					for (const key of dropdownMergeOrder.slice(currentIndex)) {
						const dropdownValue = JSON.parse(dropdownElements.find(el => el.getAttribute('data-key') === key).value)[key];
						newConfig[key] = mergeDeep(previousConfig, dropdownValue);
						previousConfig = newConfig[key];
					}
				}
				graph.setAttribute('data-config', JSON.stringify(mergeDeep(config, newConfig)));
				updateTabText(0, newConfig);
				updateTabText(2, newConfig);
			});
		});
	}
</script>

<style>
    .unselectable {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

	.graph-example.graph-example {
        margin-top: 0;
        margin-bottom: 0;
    }

	.place-aside {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 1rem;
		padding-bottom: 1rem;

        .graph-component {
			flex-grow: 1;
            flex-basis: 30%;
			min-width: 250px;
			margin-top: 2rem;
			height: 320px;

			.graph-container:not(.is-fullscreen) {
				width: 100%;
			}
        }

		/** Todo: unset height on media <768px */
        starlight-tabs {
			flex-grow: 1;
			flex-basis: 5%;
			min-width: fit-content;
			height: 335px;

            .expressive-code {
				code {
					font-size: 0.8rem;
                    max-height: 280px;
                    overflow: auto;
                    scrollbar-color: var(--sl-color-gray-5) transparent;
				}
            }
        }
    }

	.user-config {
		width: 100%;
	}
</style>
